In [1]:
import numpy as np
import pandas as pd  
import matplotlib.pyplot as plt
import seaborn as sns 
import os

In [2]:
df=pd.read_csv('D:/AKSHAY/SBI hack/HACKATHON_TRAINING_DATA.csv')

In [3]:
columns_list=df.columns.tolist()
print(columns_list)

['ACCT_AGE', 'LIMIT', 'OUTS', 'ACCT_RESIDUAL_TENURE', 'LOAN_TENURE', 'INSTALAMT', 'SI_FLG', 'AGE', 'VINTAGE', 'KYC_SCR', 'LOCKER_HLDR_IND', 'UID_FLG', 'KYC_FLG', 'INB_FLG', 'EKYC_FLG', 'ONEMNTHCR', 'ONEMNTHSDR', 'ONEMNTHOUTSTANGBAL', 'ONEMNTHAVGMTD', 'ONEMNTHAVGQTD', 'ONEMNTHAVGYTD', 'TWOMNTHSCR', 'TWOMNTHSDR', 'TWOMNTHOUTSTANGBAL', 'TWOMNTHAVGMTD', 'TWOMNTHAVGQTD', 'TWOMNTHAVGYTD', 'THREEMNTHSCR', 'THREEMNTHSDR', 'THREEMNTHOUTSTANGBAL', 'THREEMNTHAVGMTD', 'THREEMNTHAVGQTD', 'THREEMNTHAVGYTD', 'FOURMNTHSCR', 'FOURMNTHSDR', 'FOURMNTHOUTSTANGBAL', 'FOURMNTHAVGMTD', 'FOURMNTHAVGQTD', 'FOURMNTHAVGYTD', 'FIVEMNTHSCR', 'FIVEMNTHSDR', 'FIVEMNTHOUTSTANGBAL', 'FIVEMNTHAVGMTD', 'FIVEMNTHAVGQTD', 'FIVEMNTHAVGYTD', 'SIXMNTHSCR', 'SIXMNTHSDR', 'SIXMNTHOUTSTANGBAL', 'SIXMNTHAVGMTD', 'SIXMNTHAVGQTD', 'SIXMNTHAVGYTD', 'SEVENMNTHSCR', 'SEVENMNTHSDR', 'SEVENMNTHOUTSTANGBAL', 'SEVENMNTHAVGMTD', 'SEVENMNTHAVGQTD', 'SEVENMNTHAVGYTD', 'EIGHTMNTHSCR', 'EIGHTMNTHSDR', 'EIGHTMNTHOUTSTANGBAL', 'EIGHTMNTHAVGMTD', 'EIGHTMNTHAVGQTD', 'EIGHTMNTHAVGYTD', 'NINEMNTHSCR', 'NINEMNTHSDR', 'NINEMNTHOUTSTANGBAL', 'NINEMNTHAVGMTD', 'NINEMNTHAVGQTD', 'NINEMNTHAVGYTD', 'TENMNTHSCR', 'TENMNTHSDR', 'TENMNTHOUTSTANGBAL', 'TENMNTHAVGMTD', 'TENMNTHAVGQTD', 'TENMNTHAVGYTD', 'ELEVENMNTHSCR', 'ELEVENMNTHSDR', 'ELEVENMNTHOUTSTANGBAL', 'ELEVENMNTHAVGMTD', 'ELEVENMNTHAVGQTD', 'ELEVENMNTHAVGYTD', 'TWELVEMNTHSCR', 'TWELVEMNTHSDR', 'TWELVEMNTHOUTSTANGBAL', 'TWELVEMNTHAVGMTD', 'TWELVEMNTHAVGQTD', 'TWELVEMNTHAVGYTD', 'NO_LONS', 'ALL_LON_LIMIT', 'ALL_LON_OUTS', 'ALL_LON_MAX_IRAC', 'OLDEST_LON_TAKEN', 'LATEST_LON_TAKEN', 'LATEST_RESIDUAL_TENURE', 'OLDEST_RESIDUAL_TENURE', 'POP_CODE', 'NO_ENQ', 'FIRST_NPA_TENURE', 'CUST_NO_OF_TIMES_NPA', 'LATEST_NPA_TENURE', 'NO_YRS_NPA', 'LATEST_RG3_TENURE', 'NO_YRS_RG3', 'TOT_IRAC_CHNG', 'TIMES_IRAC_SLIP', 'TIMES_IRAC_UPR', 'LAST_1_YR_RG4', 'LAST_3_YR_RG4', 'LAST_1_YR_RG3', 'LAST_1_YR_RG2', 'LAST_1_YR_RG1', 'CRIFF_11', 'CRIFF_22', 'CRIFF_33', 'CRIFF_44', 'CRIFF_55', 'CRIFF_66', 'TOTAL_CRIFF1', 'DEC_CRIFFCHNG1', 'PRI_NO_OF_ACCTS1', 'PRI_ACTIVE_ACCTS1', 'PRI_OVERDUE_ACCTS1', 'PRI_CURRENT_BALANCE1', 'PRI_SANCTIONED_AMOUNT1', 'PRI_DISBURSED_AMOUNT1', 'PRIMARY_INSTAL_AMT1', 'NEW_ACCTS_IN_LAST_SIX_MONTHS1', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS1', 'AVERAGE_ACCT_AGE1', 'CREDIT_HISTORY_LENGTH1', 'NO_OF_INQUIRIES1', 'INCOME_BAND1', 'AGREG_GROUP', 'PRODUCT_TYPE', 'LATEST_CR_DAYS', 'LATEST_DR_DAYS', 'TIME_PERIOD', 'TARGET', 'UNIQUE_ID']

In [4]:
df['TARGET'].value_counts()

TARGET
0    292301
1     35440
Name: count, dtype: int64

In [5]:
df.shape

(327741, 139)

In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer


# Drop unnecessary columns
df = df.drop(columns=["UNIQUE_ID", "TIME_PERIOD"], errors="ignore")

# Keep only normal (non-fraud) data for training VAE

# Convert '7yrs 6mon' → 90 months
def convert_yrs_mon(s):
    try:
        if pd.isna(s): return None
        parts = s.lower().replace("yrs", "").replace("mon", "").split()
        years = int(parts[0]) if len(parts) > 0 else 0
        months = int(parts[1]) if len(parts) > 1 else 0
        return years * 12 + months
    except:
        return None

if "CREDIT_HISTORY_LENGTH1" in df.columns:
    df["CREDIT_HISTORY_LENGTH1"] = df["CREDIT_HISTORY_LENGTH1"].apply(convert_yrs_mon)
if "AVERAGE_ACCT_AGE1" in df.columns:
    df["AVERAGE_ACCT_AGE1"] = df["AVERAGE_ACCT_AGE1"].apply(convert_yrs_mon)

# Encode categorical columns (simple one-hot or label encoding)
cat_cols = df.select_dtypes(include="object").columns
df = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [7]:
columns_list=df.columns.tolist()
print(columns_list)

['ACCT_AGE', 'LIMIT', 'OUTS', 'ACCT_RESIDUAL_TENURE', 'LOAN_TENURE', 'INSTALAMT', 'AGE', 'VINTAGE', 'KYC_SCR', 'ONEMNTHCR', 'ONEMNTHSDR', 'ONEMNTHOUTSTANGBAL', 'ONEMNTHAVGMTD', 'ONEMNTHAVGQTD', 'ONEMNTHAVGYTD', 'TWOMNTHSCR', 'TWOMNTHSDR', 'TWOMNTHOUTSTANGBAL', 'TWOMNTHAVGMTD', 'TWOMNTHAVGQTD', 'TWOMNTHAVGYTD', 'THREEMNTHSCR', 'THREEMNTHSDR', 'THREEMNTHOUTSTANGBAL', 'THREEMNTHAVGMTD', 'THREEMNTHAVGQTD', 'THREEMNTHAVGYTD', 'FOURMNTHSCR', 'FOURMNTHSDR', 'FOURMNTHOUTSTANGBAL', 'FOURMNTHAVGMTD', 'FOURMNTHAVGQTD', 'FOURMNTHAVGYTD', 'FIVEMNTHSCR', 'FIVEMNTHSDR', 'FIVEMNTHOUTSTANGBAL', 'FIVEMNTHAVGMTD', 'FIVEMNTHAVGQTD', 'FIVEMNTHAVGYTD', 'SIXMNTHSCR', 'SIXMNTHSDR', 'SIXMNTHOUTSTANGBAL', 'SIXMNTHAVGMTD', 'SIXMNTHAVGQTD', 'SIXMNTHAVGYTD', 'SEVENMNTHSCR', 'SEVENMNTHSDR', 'SEVENMNTHOUTSTANGBAL', 'SEVENMNTHAVGMTD', 'SEVENMNTHAVGQTD', 'SEVENMNTHAVGYTD', 'EIGHTMNTHSCR', 'EIGHTMNTHSDR', 'EIGHTMNTHOUTSTANGBAL', 'EIGHTMNTHAVGMTD', 'EIGHTMNTHAVGQTD', 'EIGHTMNTHAVGYTD', 'NINEMNTHSCR', 'NINEMNTHSDR', 'NINEMNTHOUTSTANGBAL', 'NINEMNTHAVGMTD', 'NINEMNTHAVGQTD', 'NINEMNTHAVGYTD', 'TENMNTHSCR', 'TENMNTHSDR', 'TENMNTHOUTSTANGBAL', 'TENMNTHAVGMTD', 'TENMNTHAVGQTD', 'TENMNTHAVGYTD', 'ELEVENMNTHSCR', 'ELEVENMNTHSDR', 'ELEVENMNTHOUTSTANGBAL', 'ELEVENMNTHAVGMTD', 'ELEVENMNTHAVGQTD', 'ELEVENMNTHAVGYTD', 'TWELVEMNTHSCR', 'TWELVEMNTHSDR', 'TWELVEMNTHOUTSTANGBAL', 'TWELVEMNTHAVGMTD', 'TWELVEMNTHAVGQTD', 'TWELVEMNTHAVGYTD', 'NO_LONS', 'ALL_LON_LIMIT', 'ALL_LON_OUTS', 'ALL_LON_MAX_IRAC', 'OLDEST_LON_TAKEN', 'LATEST_LON_TAKEN', 'LATEST_RESIDUAL_TENURE', 'OLDEST_RESIDUAL_TENURE', 'POP_CODE', 'NO_ENQ', 'FIRST_NPA_TENURE', 'CUST_NO_OF_TIMES_NPA', 'LATEST_NPA_TENURE', 'NO_YRS_NPA', 'LATEST_RG3_TENURE', 'NO_YRS_RG3', 'TOT_IRAC_CHNG', 'TIMES_IRAC_SLIP', 'TIMES_IRAC_UPR', 'LAST_1_YR_RG4', 'LAST_3_YR_RG4', 'LAST_1_YR_RG3', 'LAST_1_YR_RG2', 'LAST_1_YR_RG1', 'CRIFF_11', 'CRIFF_22', 'CRIFF_33', 'CRIFF_44', 'CRIFF_55', 'CRIFF_66', 'TOTAL_CRIFF1', 'DEC_CRIFFCHNG1', 'PRI_NO_OF_ACCTS1', 'PRI_ACTIVE_ACCTS1', 'PRI_OVERDUE_ACCTS1', 'PRI_CURRENT_BALANCE1', 'PRI_SANCTIONED_AMOUNT1', 'PRI_DISBURSED_AMOUNT1', 'PRIMARY_INSTAL_AMT1', 'NEW_ACCTS_IN_LAST_SIX_MONTHS1', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS1', 'AVERAGE_ACCT_AGE1', 'CREDIT_HISTORY_LENGTH1', 'NO_OF_INQUIRIES1', 'LATEST_CR_DAYS', 'LATEST_DR_DAYS', 'TARGET', 'SI_FLG_Y', 'LOCKER_HLDR_IND_Y', 'UID_FLG_Y', 'KYC_FLG_2', 'KYC_FLG_N', 'KYC_FLG_Y', 'INB_FLG_Y', 'EKYC_FLG_Y', 'INCOME_BAND1_B', 'INCOME_BAND1_C', 'INCOME_BAND1_D', 'INCOME_BAND1_E', 'INCOME_BAND1_EX01', 'INCOME_BAND1_EX02', 'INCOME_BAND1_EX04', 'INCOME_BAND1_EX05', 'INCOME_BAND1_F', 'INCOME_BAND1_G', 'INCOME_BAND1_H', 'AGREG_GROUP_#Housing Loan', 'AGREG_GROUP_#Total Auto Loan', 'AGREG_GROUP_#Total Xpress Credit', 'PRODUCT_TYPE_EDUCATION LOAN', 'PRODUCT_TYPE_HOME LOAN', 'PRODUCT_TYPE_PERSONAL LOAN']

In [8]:
null_values_cnts=df.isna().sum().tolist()
for i in range(len(columns_list)):
    print(columns_list[i],null_values_cnts[i])

ACCT_AGE 0
LIMIT 0
OUTS 0
ACCT_RESIDUAL_TENURE 13
LOAN_TENURE 0
INSTALAMT 0
AGE 2
VINTAGE 2
KYC_SCR 424
ONEMNTHCR 23575
ONEMNTHSDR 23575
ONEMNTHOUTSTANGBAL 23575
ONEMNTHAVGMTD 23575
ONEMNTHAVGQTD 23575
ONEMNTHAVGYTD 23575
TWOMNTHSCR 26221
TWOMNTHSDR 26221
TWOMNTHOUTSTANGBAL 26221
TWOMNTHAVGMTD 26221
TWOMNTHAVGQTD 26221
TWOMNTHAVGYTD 26221
THREEMNTHSCR 28259
THREEMNTHSDR 28259
THREEMNTHOUTSTANGBAL 28259
THREEMNTHAVGMTD 28259
THREEMNTHAVGQTD 28259
THREEMNTHAVGYTD 28259
FOURMNTHSCR 29713
FOURMNTHSDR 29713
FOURMNTHOUTSTANGBAL 29713
FOURMNTHAVGMTD 29713
FOURMNTHAVGQTD 29713
FOURMNTHAVGYTD 29713
FIVEMNTHSCR 30826
FIVEMNTHSDR 30826
FIVEMNTHOUTSTANGBAL 30826
FIVEMNTHAVGMTD 30826
FIVEMNTHAVGQTD 30826
FIVEMNTHAVGYTD 30826
SIXMNTHSCR 31064
SIXMNTHSDR 31064
SIXMNTHOUTSTANGBAL 31064
SIXMNTHAVGMTD 31064
SIXMNTHAVGQTD 31064
SIXMNTHAVGYTD 31064
SEVENMNTHSCR 30461
SEVENMNTHSDR 30461
SEVENMNTHOUTSTANGBAL 30461
SEVENMNTHAVGMTD 30461
SEVENMNTHAVGQTD 30461
SEVENMNTHAVGYTD 30461
EIGHTMNTHSCR 29744
EIGHTMNTHSDR 29744
EIGHTMNTHOUTSTANGBAL 29744
EIGHTMNTHAVGMTD 29744
EIGHTMNTHAVGQTD 29744
EIGHTMNTHAVGYTD 29744
NINEMNTHSCR 29678
NINEMNTHSDR 29678
NINEMNTHOUTSTANGBAL 29678
NINEMNTHAVGMTD 29678
NINEMNTHAVGQTD 29678
NINEMNTHAVGYTD 29678
TENMNTHSCR 29880
TENMNTHSDR 29880
TENMNTHOUTSTANGBAL 29880
TENMNTHAVGMTD 29880
TENMNTHAVGQTD 29880
TENMNTHAVGYTD 29880
ELEVENMNTHSCR 29829
ELEVENMNTHSDR 29829
ELEVENMNTHOUTSTANGBAL 29829
ELEVENMNTHAVGMTD 29829
ELEVENMNTHAVGQTD 29829
ELEVENMNTHAVGYTD 29829
TWELVEMNTHSCR 29547
TWELVEMNTHSDR 29547
TWELVEMNTHOUTSTANGBAL 29547
TWELVEMNTHAVGMTD 29547
TWELVEMNTHAVGQTD 29547
TWELVEMNTHAVGYTD 29547
NO_LONS 0
ALL_LON_LIMIT 0
ALL_LON_OUTS 0
ALL_LON_MAX_IRAC 0
OLDEST_LON_TAKEN 0
LATEST_LON_TAKEN 0
LATEST_RESIDUAL_TENURE 10
OLDEST_RESIDUAL_TENURE 10
POP_CODE 2
NO_ENQ 167955
FIRST_NPA_TENURE 215669
CUST_NO_OF_TIMES_NPA 215669
LATEST_NPA_TENURE 215669
NO_YRS_NPA 215669
LATEST_RG3_TENURE 3293
NO_YRS_RG3 3293
TOT_IRAC_CHNG 0
TIMES_IRAC_SLIP 0
TIMES_IRAC_UPR 0
LAST_1_YR_RG4 303363
LAST_3_YR_RG4 267761
LAST_1_YR_RG3 0
LAST_1_YR_RG2 7
LAST_1_YR_RG1 17169
CRIFF_11 6491
CRIFF_22 60174
CRIFF_33 60540
CRIFF_44 60380
CRIFF_55 23941
CRIFF_66 24068
TOTAL_CRIFF1 6491
DEC_CRIFFCHNG1 6491
PRI_NO_OF_ACCTS1 6491
PRI_ACTIVE_ACCTS1 6491
PRI_OVERDUE_ACCTS1 6491
PRI_CURRENT_BALANCE1 6491
PRI_SANCTIONED_AMOUNT1 6491
PRI_DISBURSED_AMOUNT1 6491
PRIMARY_INSTAL_AMT1 6491
NEW_ACCTS_IN_LAST_SIX_MONTHS1 6491
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS1 6491
AVERAGE_ACCT_AGE1 6491
CREDIT_HISTORY_LENGTH1 6491
NO_OF_INQUIRIES1 6491
LATEST_CR_DAYS 1464
LATEST_DR_DAYS 0
TARGET 0
SI_FLG_Y 0
LOCKER_HLDR_IND_Y 0
UID_FLG_Y 0
KYC_FLG_2 0
KYC_FLG_N 0
KYC_FLG_Y 0
INB_FLG_Y 0
EKYC_FLG_Y 0
INCOME_BAND1_B 0
INCOME_BAND1_C 0
INCOME_BAND1_D 0
INCOME_BAND1_E 0
INCOME_BAND1_EX01 0
INCOME_BAND1_EX02 0
INCOME_BAND1_EX04 0
INCOME_BAND1_EX05 0
INCOME_BAND1_F 0
INCOME_BAND1_G 0
INCOME_BAND1_H 0
AGREG_GROUP_#Housing Loan 0
AGREG_GROUP_#Total Auto Loan 0
AGREG_GROUP_#Total Xpress Credit 0
PRODUCT_TYPE_EDUCATION LOAN 0
PRODUCT_TYPE_HOME LOAN 0
PRODUCT_TYPE_PERSONAL LOAN 0

In [9]:
# FIRST_NPA_TENURE 215669
# CUST_NO_OF_TIMES_NPA 215669
# LATEST_NPA_TENURE 215669
# NO_YRS_NPA 215669

# these columns are related to non performing assets and 60% of them are not having 
# need to handle these seperately  ---> here we can do some graphing based on 0 1 distribution in both the sets

In [10]:
new_df = df[df['FIRST_NPA_TENURE'].isna()]

In [11]:
new_df['TARGET'].value_counts()

TARGET
0    189527
1     26142
Name: count, dtype: int64

In [12]:
new_df2 = df[~df['FIRST_NPA_TENURE'].isna()]

In [13]:
new_df2['TARGET'].value_counts()

TARGET
0    102774
1      9298
Name: count, dtype: int64

In [14]:
df['NO_YRS_NPA'].value_counts()

NO_YRS_NPA
1.0     50139
2.0     23228
3.0     13997
4.0      8738
5.0      5888
6.0      3576
7.0      2234
8.0      1413
9.0      1037
10.0      645
11.0      501
12.0      270
13.0      211
14.0       87
15.0       54
16.0       38
17.0       12
18.0        3
20.0        1
Name: count, dtype: int64

In [15]:
df['FIRST_NPA_TENURE'].fillna(0,inplace=True)
df['CUST_NO_OF_TIMES_NPA'].fillna(0,inplace=True)
df['LATEST_NPA_TENURE'].fillna(0,inplace=True)
df['NO_YRS_NPA'].fillna(0,inplace=True)

In [16]:
month_prefixes = [
    'ONEMNTH', 'TWOMNTH', 'THREEMNTH', 'FOURMNTH', 'FIVEMNTH', 'SIXMNTH',
    'SEVENMNTH', 'EIGHTMNTH', 'NINEMNTH', 'TENMNTH', 'ELEVENMNTH', 'TWELVEMNTH'
]

# Identify all columns in df that match these month patterns
month_columns = [col for col in df.columns if any(col.startswith(prefix) for prefix in month_prefixes)]

# Fill NaN in those columns with 0
df[month_columns] = df[month_columns].fillna(0)

# Check the result
missing_counts = df[month_columns].isnull().sum()

In [17]:
# Identify numeric columns with null values
numeric_cols_with_nulls = [
    col for col in df.select_dtypes(include=["number"]).columns
    if df[col].isna().any()
]

# Fill nulls with median for each column
for col in numeric_cols_with_nulls:
    median_value = df[col].median()
    df[col].fillna(median_value, inplace=True)

In [18]:
null_values_cnts=df.isna().sum().tolist()
for i in range(len(columns_list)):
    print(columns_list[i],null_values_cnts[i])

ACCT_AGE 0
LIMIT 0
OUTS 0
ACCT_RESIDUAL_TENURE 0
LOAN_TENURE 0
INSTALAMT 0
AGE 0
VINTAGE 0
KYC_SCR 0
ONEMNTHCR 0
ONEMNTHSDR 0
ONEMNTHOUTSTANGBAL 0
ONEMNTHAVGMTD 0
ONEMNTHAVGQTD 0
ONEMNTHAVGYTD 0
TWOMNTHSCR 0
TWOMNTHSDR 0
TWOMNTHOUTSTANGBAL 0
TWOMNTHAVGMTD 0
TWOMNTHAVGQTD 0
TWOMNTHAVGYTD 0
THREEMNTHSCR 0
THREEMNTHSDR 0
THREEMNTHOUTSTANGBAL 0
THREEMNTHAVGMTD 0
THREEMNTHAVGQTD 0
THREEMNTHAVGYTD 0
FOURMNTHSCR 0
FOURMNTHSDR 0
FOURMNTHOUTSTANGBAL 0
FOURMNTHAVGMTD 0
FOURMNTHAVGQTD 0
FOURMNTHAVGYTD 0
FIVEMNTHSCR 0
FIVEMNTHSDR 0
FIVEMNTHOUTSTANGBAL 0
FIVEMNTHAVGMTD 0
FIVEMNTHAVGQTD 0
FIVEMNTHAVGYTD 0
SIXMNTHSCR 0
SIXMNTHSDR 0
SIXMNTHOUTSTANGBAL 0
SIXMNTHAVGMTD 0
SIXMNTHAVGQTD 0
SIXMNTHAVGYTD 0
SEVENMNTHSCR 0
SEVENMNTHSDR 0
SEVENMNTHOUTSTANGBAL 0
SEVENMNTHAVGMTD 0
SEVENMNTHAVGQTD 0
SEVENMNTHAVGYTD 0
EIGHTMNTHSCR 0
EIGHTMNTHSDR 0
EIGHTMNTHOUTSTANGBAL 0
EIGHTMNTHAVGMTD 0
EIGHTMNTHAVGQTD 0
EIGHTMNTHAVGYTD 0
NINEMNTHSCR 0
NINEMNTHSDR 0
NINEMNTHOUTSTANGBAL 0
NINEMNTHAVGMTD 0
NINEMNTHAVGQTD 0
NINEMNTHAVGYTD 0
TENMNTHSCR 0
TENMNTHSDR 0
TENMNTHOUTSTANGBAL 0
TENMNTHAVGMTD 0
TENMNTHAVGQTD 0
TENMNTHAVGYTD 0
ELEVENMNTHSCR 0
ELEVENMNTHSDR 0
ELEVENMNTHOUTSTANGBAL 0
ELEVENMNTHAVGMTD 0
ELEVENMNTHAVGQTD 0
ELEVENMNTHAVGYTD 0
TWELVEMNTHSCR 0
TWELVEMNTHSDR 0
TWELVEMNTHOUTSTANGBAL 0
TWELVEMNTHAVGMTD 0
TWELVEMNTHAVGQTD 0
TWELVEMNTHAVGYTD 0
NO_LONS 0
ALL_LON_LIMIT 0
ALL_LON_OUTS 0
ALL_LON_MAX_IRAC 0
OLDEST_LON_TAKEN 0
LATEST_LON_TAKEN 0
LATEST_RESIDUAL_TENURE 0
OLDEST_RESIDUAL_TENURE 0
POP_CODE 0
NO_ENQ 0
FIRST_NPA_TENURE 0
CUST_NO_OF_TIMES_NPA 0
LATEST_NPA_TENURE 0
NO_YRS_NPA 0
LATEST_RG3_TENURE 0
NO_YRS_RG3 0
TOT_IRAC_CHNG 0
TIMES_IRAC_SLIP 0
TIMES_IRAC_UPR 0
LAST_1_YR_RG4 0
LAST_3_YR_RG4 0
LAST_1_YR_RG3 0
LAST_1_YR_RG2 0
LAST_1_YR_RG1 0
CRIFF_11 0
CRIFF_22 0
CRIFF_33 0
CRIFF_44 0
CRIFF_55 0
CRIFF_66 0
TOTAL_CRIFF1 0
DEC_CRIFFCHNG1 0
PRI_NO_OF_ACCTS1 0
PRI_ACTIVE_ACCTS1 0
PRI_OVERDUE_ACCTS1 0
PRI_CURRENT_BALANCE1 0
PRI_SANCTIONED_AMOUNT1 0
PRI_DISBURSED_AMOUNT1 0
PRIMARY_INSTAL_AMT1 0
NEW_ACCTS_IN_LAST_SIX_MONTHS1 0
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS1 0
AVERAGE_ACCT_AGE1 0
CREDIT_HISTORY_LENGTH1 0
NO_OF_INQUIRIES1 0
LATEST_CR_DAYS 0
LATEST_DR_DAYS 0
TARGET 0
SI_FLG_Y 0
LOCKER_HLDR_IND_Y 0
UID_FLG_Y 0
KYC_FLG_2 0
KYC_FLG_N 0
KYC_FLG_Y 0
INB_FLG_Y 0
EKYC_FLG_Y 0
INCOME_BAND1_B 0
INCOME_BAND1_C 0
INCOME_BAND1_D 0
INCOME_BAND1_E 0
INCOME_BAND1_EX01 0
INCOME_BAND1_EX02 0
INCOME_BAND1_EX04 0
INCOME_BAND1_EX05 0
INCOME_BAND1_F 0
INCOME_BAND1_G 0
INCOME_BAND1_H 0
AGREG_GROUP_#Housing Loan 0
AGREG_GROUP_#Total Auto Loan 0
AGREG_GROUP_#Total Xpress Credit 0
PRODUCT_TYPE_EDUCATION LOAN 0
PRODUCT_TYPE_HOME LOAN 0
PRODUCT_TYPE_PERSONAL LOAN 0

In [19]:
df.shape

(327741, 153)

In [20]:
## time-series features 


import pandas as pd
import numpy as np

def calculate_slope_vectorized(values):
    """Vectorized calculation of linear regression slope"""
    n_periods = values.shape[1]
    X = np.arange(n_periods)
    X_mean = X.mean()
    X_centered = X - X_mean
    Y_centered = values.sub(values.mean(axis=1), axis=0)
    numerator = (Y_centered * X_centered).sum(axis=1)
    denominator = (X_centered ** 2).sum()
    return numerator / denominator

def create_time_series_features(df, columns, prefix):
    """
    Create time series features from monthly data columns with optimized performance
    
    Parameters:
    df (pd.DataFrame): Input dataframe
    columns (list): List of column names in chronological order
    prefix (str): Prefix for the new feature names
    
    Returns:
    pd.DataFrame: DataFrame with new features added
    """
    values = df[columns].copy()
    
    # Calculate all features in a dictionary first to avoid fragmentation
    new_features = {}
    
    # Basic statistics
    new_features[f'{prefix}_mean'] = values.mean(axis=1)
    new_features[f'{prefix}_std'] = values.std(axis=1)
    new_features[f'{prefix}_min'] = values.min(axis=1)
    new_features[f'{prefix}_max'] = values.max(axis=1)
    new_features[f'{prefix}_median'] = values.median(axis=1)
    new_features[f'{prefix}_cv'] = (new_features[f'{prefix}_std'] / 
                                  (new_features[f'{prefix}_mean'] + 1e-5))
    
    # Month-over-month changes
    deltas = values.diff(axis=1).iloc[:, 1:]
    new_features[f'{prefix}_max_diff'] = deltas.abs().max(axis=1)
    new_features[f'{prefix}_mean_diff'] = deltas.mean(axis=1)
    new_features[f'{prefix}_last_diff'] = deltas.iloc[:, -1]
    
    # Vectorized slope calculation
    new_features[f'{prefix}_slope'] = calculate_slope_vectorized(values)
    
    # Recent vs historical comparison
    if len(columns) >= 3:
        recent = values.iloc[:, -3:].mean(axis=1)
        historical = values.iloc[:, :-3].mean(axis=1)
        new_features[f'{prefix}_recent_vs_historical'] = recent - historical
    
    # Convert to DataFrame and concatenate all at once
    new_features_df = pd.DataFrame(new_features)
    
    # Return concatenated DataFrame to avoid fragmentation warnings
    return pd.concat([df, new_features_df], axis=1)

def process_all_time_series_features(df):
    """
    Process all time series features in the dataset with optimized performance
    """
    # Define all the time series patterns we want to process
    time_series_patterns = {
        'SCR': ['ONEMNTHCR', 'TWOMNTHSCR', 'THREEMNTHSCR', 'FOURMNTHSCR',
                'FIVEMNTHSCR', 'SIXMNTHSCR', 'SEVENMNTHSCR', 'EIGHTMNTHSCR',
                'NINEMNTHSCR', 'TENMNTHSCR', 'ELEVENMNTHSCR', 'TWELVEMNTHSCR'],
        
        'SDR': ['ONEMNTHSDR', 'TWOMNTHSDR', 'THREEMNTHSDR', 'FOURMNTHSDR',
                'FIVEMNTHSDR', 'SIXMNTHSDR', 'SEVENMNTHSDR', 'EIGHTMNTHSDR',
                'NINEMNTHSDR', 'TENMNTHSDR', 'ELEVENMNTHSDR', 'TWELVEMNTHSDR'],
        
        'OUTSTANGBAL': ['ONEMNTHOUTSTANGBAL', 'TWOMNTHOUTSTANGBAL', 'THREEMNTHOUTSTANGBAL', 
                        'FOURMNTHOUTSTANGBAL', 'FIVEMNTHOUTSTANGBAL', 'SIXMNTHOUTSTANGBAL',
                        'SEVENMNTHOUTSTANGBAL', 'EIGHTMNTHOUTSTANGBAL', 'NINEMNTHOUTSTANGBAL',
                        'TENMNTHOUTSTANGBAL', 'ELEVENMNTHOUTSTANGBAL', 'TWELVEMNTHOUTSTANGBAL'],
        
        'AVGMTD': ['ONEMNTHAVGMTD', 'TWOMNTHAVGMTD', 'THREEMNTHAVGMTD', 'FOURMNTHAVGMTD',
                   'FIVEMNTHAVGMTD', 'SIXMNTHAVGMTD', 'SEVENMNTHAVGMTD', 'EIGHTMNTHAVGMTD',
                   'NINEMNTHAVGMTD', 'TENMNTHAVGMTD', 'ELEVENMNTHAVGMTD', 'TWELVEMNTHAVGMTD'],
        
        'AVGQTD': ['ONEMNTHAVGQTD', 'TWOMNTHAVGQTD', 'THREEMNTHAVGQTD', 'FOURMNTHAVGQTD',
                   'FIVEMNTHAVGQTD', 'SIXMNTHAVGQTD', 'SEVENMNTHAVGQTD', 'EIGHTMNTHAVGQTD',
                   'NINEMNTHAVGQTD', 'TENMNTHAVGQTD', 'ELEVENMNTHAVGQTD', 'TWELVEMNTHAVGQTD'],
        
        'AVGYTD': ['ONEMNTHAVGYTD', 'TWOMNTHAVGYTD', 'THREEMNTHAVGYTD', 'FOURMNTHAVGYTD',
                   'FIVEMNTHAVGYTD', 'SIXMNTHAVGYTD', 'SEVENMNTHAVGYTD', 'EIGHTMNTHAVGYTD',
                   'NINEMNTHAVGYTD', 'TENMNTHAVGYTD', 'ELEVENMNTHAVGYTD', 'TWELVEMNTHAVGYTD']
    }
    
    # Process each time series pattern
    for prefix, columns in time_series_patterns.items():
        # Check if all columns exist in the dataframe
        available_columns = [col for col in columns if col in df.columns]
        if len(available_columns) >= 3:  # Only process if we have at least 3 months data
            try:
                df = create_time_series_features(df, available_columns, prefix)
            except Exception as e:
                print(f"Error processing {prefix}: {str(e)}")
                continue
    
    return df

In [21]:
# Process your DataFrame
df = process_all_time_series_features(df)

# Optional: If you want to ensure no fragmentation remains
df = df.copy()

In [22]:
df.shape

(327741, 219)

In [23]:
columns_list=df.columns.tolist()
print(columns_list)

['ACCT_AGE', 'LIMIT', 'OUTS', 'ACCT_RESIDUAL_TENURE', 'LOAN_TENURE', 'INSTALAMT', 'AGE', 'VINTAGE', 'KYC_SCR', 'ONEMNTHCR', 'ONEMNTHSDR', 'ONEMNTHOUTSTANGBAL', 'ONEMNTHAVGMTD', 'ONEMNTHAVGQTD', 'ONEMNTHAVGYTD', 'TWOMNTHSCR', 'TWOMNTHSDR', 'TWOMNTHOUTSTANGBAL', 'TWOMNTHAVGMTD', 'TWOMNTHAVGQTD', 'TWOMNTHAVGYTD', 'THREEMNTHSCR', 'THREEMNTHSDR', 'THREEMNTHOUTSTANGBAL', 'THREEMNTHAVGMTD', 'THREEMNTHAVGQTD', 'THREEMNTHAVGYTD', 'FOURMNTHSCR', 'FOURMNTHSDR', 'FOURMNTHOUTSTANGBAL', 'FOURMNTHAVGMTD', 'FOURMNTHAVGQTD', 'FOURMNTHAVGYTD', 'FIVEMNTHSCR', 'FIVEMNTHSDR', 'FIVEMNTHOUTSTANGBAL', 'FIVEMNTHAVGMTD', 'FIVEMNTHAVGQTD', 'FIVEMNTHAVGYTD', 'SIXMNTHSCR', 'SIXMNTHSDR', 'SIXMNTHOUTSTANGBAL', 'SIXMNTHAVGMTD', 'SIXMNTHAVGQTD', 'SIXMNTHAVGYTD', 'SEVENMNTHSCR', 'SEVENMNTHSDR', 'SEVENMNTHOUTSTANGBAL', 'SEVENMNTHAVGMTD', 'SEVENMNTHAVGQTD', 'SEVENMNTHAVGYTD', 'EIGHTMNTHSCR', 'EIGHTMNTHSDR', 'EIGHTMNTHOUTSTANGBAL', 'EIGHTMNTHAVGMTD', 'EIGHTMNTHAVGQTD', 'EIGHTMNTHAVGYTD', 'NINEMNTHSCR', 'NINEMNTHSDR', 'NINEMNTHOUTSTANGBAL', 'NINEMNTHAVGMTD', 'NINEMNTHAVGQTD', 'NINEMNTHAVGYTD', 'TENMNTHSCR', 'TENMNTHSDR', 'TENMNTHOUTSTANGBAL', 'TENMNTHAVGMTD', 'TENMNTHAVGQTD', 'TENMNTHAVGYTD', 'ELEVENMNTHSCR', 'ELEVENMNTHSDR', 'ELEVENMNTHOUTSTANGBAL', 'ELEVENMNTHAVGMTD', 'ELEVENMNTHAVGQTD', 'ELEVENMNTHAVGYTD', 'TWELVEMNTHSCR', 'TWELVEMNTHSDR', 'TWELVEMNTHOUTSTANGBAL', 'TWELVEMNTHAVGMTD', 'TWELVEMNTHAVGQTD', 'TWELVEMNTHAVGYTD', 'NO_LONS', 'ALL_LON_LIMIT', 'ALL_LON_OUTS', 'ALL_LON_MAX_IRAC', 'OLDEST_LON_TAKEN', 'LATEST_LON_TAKEN', 'LATEST_RESIDUAL_TENURE', 'OLDEST_RESIDUAL_TENURE', 'POP_CODE', 'NO_ENQ', 'FIRST_NPA_TENURE', 'CUST_NO_OF_TIMES_NPA', 'LATEST_NPA_TENURE', 'NO_YRS_NPA', 'LATEST_RG3_TENURE', 'NO_YRS_RG3', 'TOT_IRAC_CHNG', 'TIMES_IRAC_SLIP', 'TIMES_IRAC_UPR', 'LAST_1_YR_RG4', 'LAST_3_YR_RG4', 'LAST_1_YR_RG3', 'LAST_1_YR_RG2', 'LAST_1_YR_RG1', 'CRIFF_11', 'CRIFF_22', 'CRIFF_33', 'CRIFF_44', 'CRIFF_55', 'CRIFF_66', 'TOTAL_CRIFF1', 'DEC_CRIFFCHNG1', 'PRI_NO_OF_ACCTS1', 'PRI_ACTIVE_ACCTS1', 'PRI_OVERDUE_ACCTS1', 'PRI_CURRENT_BALANCE1', 'PRI_SANCTIONED_AMOUNT1', 'PRI_DISBURSED_AMOUNT1', 'PRIMARY_INSTAL_AMT1', 'NEW_ACCTS_IN_LAST_SIX_MONTHS1', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS1', 'AVERAGE_ACCT_AGE1', 'CREDIT_HISTORY_LENGTH1', 'NO_OF_INQUIRIES1', 'LATEST_CR_DAYS', 'LATEST_DR_DAYS', 'TARGET', 'SI_FLG_Y', 'LOCKER_HLDR_IND_Y', 'UID_FLG_Y', 'KYC_FLG_2', 'KYC_FLG_N', 'KYC_FLG_Y', 'INB_FLG_Y', 'EKYC_FLG_Y', 'INCOME_BAND1_B', 'INCOME_BAND1_C', 'INCOME_BAND1_D', 'INCOME_BAND1_E', 'INCOME_BAND1_EX01', 'INCOME_BAND1_EX02', 'INCOME_BAND1_EX04', 'INCOME_BAND1_EX05', 'INCOME_BAND1_F', 'INCOME_BAND1_G', 'INCOME_BAND1_H', 'AGREG_GROUP_#Housing Loan', 'AGREG_GROUP_#Total Auto Loan', 'AGREG_GROUP_#Total Xpress Credit', 'PRODUCT_TYPE_EDUCATION LOAN', 'PRODUCT_TYPE_HOME LOAN', 'PRODUCT_TYPE_PERSONAL LOAN', 'SCR_mean', 'SCR_std', 'SCR_min', 'SCR_max', 'SCR_median', 'SCR_cv', 'SCR_max_diff', 'SCR_mean_diff', 'SCR_last_diff', 'SCR_slope', 'SCR_recent_vs_historical', 'SDR_mean', 'SDR_std', 'SDR_min', 'SDR_max', 'SDR_median', 'SDR_cv', 'SDR_max_diff', 'SDR_mean_diff', 'SDR_last_diff', 'SDR_slope', 'SDR_recent_vs_historical', 'OUTSTANGBAL_mean', 'OUTSTANGBAL_std', 'OUTSTANGBAL_min', 'OUTSTANGBAL_max', 'OUTSTANGBAL_median', 'OUTSTANGBAL_cv', 'OUTSTANGBAL_max_diff', 'OUTSTANGBAL_mean_diff', 'OUTSTANGBAL_last_diff', 'OUTSTANGBAL_slope', 'OUTSTANGBAL_recent_vs_historical', 'AVGMTD_mean', 'AVGMTD_std', 'AVGMTD_min', 'AVGMTD_max', 'AVGMTD_median', 'AVGMTD_cv', 'AVGMTD_max_diff', 'AVGMTD_mean_diff', 'AVGMTD_last_diff', 'AVGMTD_slope', 'AVGMTD_recent_vs_historical', 'AVGQTD_mean', 'AVGQTD_std', 'AVGQTD_min', 'AVGQTD_max', 'AVGQTD_median', 'AVGQTD_cv', 'AVGQTD_max_diff', 'AVGQTD_mean_diff', 'AVGQTD_last_diff', 'AVGQTD_slope', 'AVGQTD_recent_vs_historical', 'AVGYTD_mean', 'AVGYTD_std', 'AVGYTD_min', 'AVGYTD_max', 'AVGYTD_median', 'AVGYTD_cv', 'AVGYTD_max_diff', 'AVGYTD_mean_diff', 'AVGYTD_last_diff', 'AVGYTD_slope', 'AVGYTD_recent_vs_historical']

In [25]:
df.head()

,ACCT_AGE,LIMIT,OUTS,ACCT_RESIDUAL_TENURE,LOAN_TENURE,INSTALAMT,AGE,VINTAGE,KYC_SCR,ONEMNTHCR,...,AVGYTD_std,AVGYTD_min,AVGYTD_max,AVGYTD_median,AVGYTD_cv,AVGYTD_max_diff,AVGYTD_mean_diff,AVGYTD_last_diff,AVGYTD_slope,AVGYTD_recent_vs_historical
0,1.613,1005500.0,494161.89,0.890,914,38513.0,57.663,18.601,110.0,0.00,...,12753.141910,0.000,29426.483,0.00,1.435472,20640.227,2675.134818,2734.226,3010.137073,24113.228111
1,1.783,1005500.0,428072.24,0.720,914,38513.0,57.833,18.771,110.0,217563.57,...,32663.392406,-79624.206,24788.878,0.00,-3.904352,79624.206,8731.642727,1616.864,6990.969437,33595.715000
2,1.698,1005500.0,461364.10,0.805,914,38513.0,57.748,18.686,110.0,117666.57,...,27319.383028,-79624.206,26692.257,0.00,-134.397837,79624.206,9665.133000,1903.379,5480.573524,33450.207333
3,9.127,1005500.0,1204287.25,17.878,9862,12736.0,52.302,14.039,110.0,0.00,...,148.728041,51.970,373.317,51.97,0.976763,268.522,29.113091,-1.103,34.305983,281.841889
4,9.296,1005500.0,1203224.25,17.708,9862,12736.0,52.472,14.209,110.0,0.00,...,109.501063,51.970,345.412,51.97,1.108307,268.522,26.676545,24.920,19.736224,187.321333

In [26]:
print(df.dtypes)

ACCT_AGE                       float64
LIMIT                          float64
OUTS                           float64
ACCT_RESIDUAL_TENURE           float64
LOAN_TENURE                      int64
                                ...
AVGYTD_max_diff                float64
AVGYTD_mean_diff               float64
AVGYTD_last_diff               float64
AVGYTD_slope                   float64
AVGYTD_recent_vs_historical    float64
Length: 219, dtype: object

In [27]:
print(df.columns.tolist())

['ACCT_AGE', 'LIMIT', 'OUTS', 'ACCT_RESIDUAL_TENURE', 'LOAN_TENURE', 'INSTALAMT', 'AGE', 'VINTAGE', 'KYC_SCR', 'ONEMNTHCR', 'ONEMNTHSDR', 'ONEMNTHOUTSTANGBAL', 'ONEMNTHAVGMTD', 'ONEMNTHAVGQTD', 'ONEMNTHAVGYTD', 'TWOMNTHSCR', 'TWOMNTHSDR', 'TWOMNTHOUTSTANGBAL', 'TWOMNTHAVGMTD', 'TWOMNTHAVGQTD', 'TWOMNTHAVGYTD', 'THREEMNTHSCR', 'THREEMNTHSDR', 'THREEMNTHOUTSTANGBAL', 'THREEMNTHAVGMTD', 'THREEMNTHAVGQTD', 'THREEMNTHAVGYTD', 'FOURMNTHSCR', 'FOURMNTHSDR', 'FOURMNTHOUTSTANGBAL', 'FOURMNTHAVGMTD', 'FOURMNTHAVGQTD', 'FOURMNTHAVGYTD', 'FIVEMNTHSCR', 'FIVEMNTHSDR', 'FIVEMNTHOUTSTANGBAL', 'FIVEMNTHAVGMTD', 'FIVEMNTHAVGQTD', 'FIVEMNTHAVGYTD', 'SIXMNTHSCR', 'SIXMNTHSDR', 'SIXMNTHOUTSTANGBAL', 'SIXMNTHAVGMTD', 'SIXMNTHAVGQTD', 'SIXMNTHAVGYTD', 'SEVENMNTHSCR', 'SEVENMNTHSDR', 'SEVENMNTHOUTSTANGBAL', 'SEVENMNTHAVGMTD', 'SEVENMNTHAVGQTD', 'SEVENMNTHAVGYTD', 'EIGHTMNTHSCR', 'EIGHTMNTHSDR', 'EIGHTMNTHOUTSTANGBAL', 'EIGHTMNTHAVGMTD', 'EIGHTMNTHAVGQTD', 'EIGHTMNTHAVGYTD', 'NINEMNTHSCR', 'NINEMNTHSDR', 'NINEMNTHOUTSTANGBAL', 'NINEMNTHAVGMTD', 'NINEMNTHAVGQTD', 'NINEMNTHAVGYTD', 'TENMNTHSCR', 'TENMNTHSDR', 'TENMNTHOUTSTANGBAL', 'TENMNTHAVGMTD', 'TENMNTHAVGQTD', 'TENMNTHAVGYTD', 'ELEVENMNTHSCR', 'ELEVENMNTHSDR', 'ELEVENMNTHOUTSTANGBAL', 'ELEVENMNTHAVGMTD', 'ELEVENMNTHAVGQTD', 'ELEVENMNTHAVGYTD', 'TWELVEMNTHSCR', 'TWELVEMNTHSDR', 'TWELVEMNTHOUTSTANGBAL', 'TWELVEMNTHAVGMTD', 'TWELVEMNTHAVGQTD', 'TWELVEMNTHAVGYTD', 'NO_LONS', 'ALL_LON_LIMIT', 'ALL_LON_OUTS', 'ALL_LON_MAX_IRAC', 'OLDEST_LON_TAKEN', 'LATEST_LON_TAKEN', 'LATEST_RESIDUAL_TENURE', 'OLDEST_RESIDUAL_TENURE', 'POP_CODE', 'NO_ENQ', 'FIRST_NPA_TENURE', 'CUST_NO_OF_TIMES_NPA', 'LATEST_NPA_TENURE', 'NO_YRS_NPA', 'LATEST_RG3_TENURE', 'NO_YRS_RG3', 'TOT_IRAC_CHNG', 'TIMES_IRAC_SLIP', 'TIMES_IRAC_UPR', 'LAST_1_YR_RG4', 'LAST_3_YR_RG4', 'LAST_1_YR_RG3', 'LAST_1_YR_RG2', 'LAST_1_YR_RG1', 'CRIFF_11', 'CRIFF_22', 'CRIFF_33', 'CRIFF_44', 'CRIFF_55', 'CRIFF_66', 'TOTAL_CRIFF1', 'DEC_CRIFFCHNG1', 'PRI_NO_OF_ACCTS1', 'PRI_ACTIVE_ACCTS1', 'PRI_OVERDUE_ACCTS1', 'PRI_CURRENT_BALANCE1', 'PRI_SANCTIONED_AMOUNT1', 'PRI_DISBURSED_AMOUNT1', 'PRIMARY_INSTAL_AMT1', 'NEW_ACCTS_IN_LAST_SIX_MONTHS1', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS1', 'AVERAGE_ACCT_AGE1', 'CREDIT_HISTORY_LENGTH1', 'NO_OF_INQUIRIES1', 'LATEST_CR_DAYS', 'LATEST_DR_DAYS', 'TARGET', 'SI_FLG_Y', 'LOCKER_HLDR_IND_Y', 'UID_FLG_Y', 'KYC_FLG_2', 'KYC_FLG_N', 'KYC_FLG_Y', 'INB_FLG_Y', 'EKYC_FLG_Y', 'INCOME_BAND1_B', 'INCOME_BAND1_C', 'INCOME_BAND1_D', 'INCOME_BAND1_E', 'INCOME_BAND1_EX01', 'INCOME_BAND1_EX02', 'INCOME_BAND1_EX04', 'INCOME_BAND1_EX05', 'INCOME_BAND1_F', 'INCOME_BAND1_G', 'INCOME_BAND1_H', 'AGREG_GROUP_#Housing Loan', 'AGREG_GROUP_#Total Auto Loan', 'AGREG_GROUP_#Total Xpress Credit', 'PRODUCT_TYPE_EDUCATION LOAN', 'PRODUCT_TYPE_HOME LOAN', 'PRODUCT_TYPE_PERSONAL LOAN', 'SCR_mean', 'SCR_std', 'SCR_min', 'SCR_max', 'SCR_median', 'SCR_cv', 'SCR_max_diff', 'SCR_mean_diff', 'SCR_last_diff', 'SCR_slope', 'SCR_recent_vs_historical', 'SDR_mean', 'SDR_std', 'SDR_min', 'SDR_max', 'SDR_median', 'SDR_cv', 'SDR_max_diff', 'SDR_mean_diff', 'SDR_last_diff', 'SDR_slope', 'SDR_recent_vs_historical', 'OUTSTANGBAL_mean', 'OUTSTANGBAL_std', 'OUTSTANGBAL_min', 'OUTSTANGBAL_max', 'OUTSTANGBAL_median', 'OUTSTANGBAL_cv', 'OUTSTANGBAL_max_diff', 'OUTSTANGBAL_mean_diff', 'OUTSTANGBAL_last_diff', 'OUTSTANGBAL_slope', 'OUTSTANGBAL_recent_vs_historical', 'AVGMTD_mean', 'AVGMTD_std', 'AVGMTD_min', 'AVGMTD_max', 'AVGMTD_median', 'AVGMTD_cv', 'AVGMTD_max_diff', 'AVGMTD_mean_diff', 'AVGMTD_last_diff', 'AVGMTD_slope', 'AVGMTD_recent_vs_historical', 'AVGQTD_mean', 'AVGQTD_std', 'AVGQTD_min', 'AVGQTD_max', 'AVGQTD_median', 'AVGQTD_cv', 'AVGQTD_max_diff', 'AVGQTD_mean_diff', 'AVGQTD_last_diff', 'AVGQTD_slope', 'AVGQTD_recent_vs_historical', 'AVGYTD_mean', 'AVGYTD_std', 'AVGYTD_min', 'AVGYTD_max', 'AVGYTD_median', 'AVGYTD_cv', 'AVGYTD_max_diff', 'AVGYTD_mean_diff', 'AVGYTD_last_diff', 'AVGYTD_slope', 'AVGYTD_recent_vs_historical']

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327741 entries, 0 to 327740
Columns: 219 entries, ACCT_AGE to AVGYTD_recent_vs_historical
dtypes: bool(25), float64(185), int64(9)
memory usage: 492.9 MB

In [29]:
df.shape

(327741, 219)

In [30]:
#berhavioral changes and anamoly flag

import numpy as np
# Ratio of last to first SCR
df['SCR_ratio_last_first'] = df['TWELVEMNTHSCR'] / (df['ONEMNTHCR'] + 1e-5)
# Example for SCR (Score) columns
scr_columns = [
    'ONEMNTHCR', 'TWOMNTHSCR', 'THREEMNTHSCR', 'FOURMNTHSCR',
    'FIVEMNTHSCR', 'SIXMNTHSCR', 'SEVENMNTHSCR', 'EIGHTMNTHSCR',
    'NINEMNTHSCR', 'TENMNTHSCR', 'ELEVENMNTHSCR', 'TWELVEMNTHSCR'
]
# Spike indicator (Z-score based)
def zscore_flag(row, cols, threshold=3):
    values = row[cols].values
    mean = np.mean(values)
    std = np.std(values)
    return int(any(abs((values - mean) / (std + 1e-5)) > threshold))

df['SCR_spike_flag'] = df.apply(lambda row: zscore_flag(row, scr_columns), axis=1)

In [31]:
df.shape

(327741, 221)

In [32]:
# Loan Utilization Ratio
df['loan_utilization'] = df['ALL_LON_OUTS'] / (df['ALL_LON_LIMIT'] + 1e-5)

# IRAC downgrade rate
df['irac_slip_rate'] = df['TIMES_IRAC_SLIP'] / (df['TOT_IRAC_CHNG'] + 1e-5)

# Loan history span
df['loan_span'] = df['OLDEST_LON_TAKEN'] - df['LATEST_LON_TAKEN']

# Flags for risky customers
df['is_recent_loan'] = (df['LATEST_LON_TAKEN'] <= 6).astype(int)  # e.g., taken in last 6 months
df['frequent_irac_changes'] = (df['TOT_IRAC_CHNG'] > 3).astype(int)

columns_to_drop = [
    'ONEMNTHCR', 'TWOMNTHSCR', 'THREEMNTHSCR', 'FOURMNTHSCR',
    'FIVEMNTHSCR', 'SIXMNTHSCR', 'SEVENMNTHSCR', 'EIGHTMNTHSCR',
    'NINEMNTHSCR', 'TENMNTHSCR', 'ELEVENMNTHSCR', 'TWELVEMNTHSCR'
]
df.drop(columns=columns_to_drop, axis=1, inplace=True)

# Drop known leaky columns
leaky_cols = ['npa_flag', 'npa_date', 'default_flag', 'tenure_post_default', 'recovery_amount', 'account_closure_date']
df = df.drop(columns=[col for col in leaky_cols if col in df.columns])

In [33]:
df.shape

(327741, 214)

In [34]:
time_series_prefixes = ['SDR', 'OUTSTANGBAL', 'AVGMTD', 'AVGQTD', 'AVGYTD']
month_keys = ['ONE', 'TWO', 'THREE', 'FOUR', 'FIVE', 'SIX',
              'SEVEN', 'EIGHT', 'NINE', 'TEN', 'ELEVEN', 'TWELVE']

def generate_columns(prefix):
    # For 'ONE', it's 'ONEMNTH' + prefix (e.g., 'ONEMNTHSDR')
    # For others, it's '[MONTH]MNTH' + prefix (e.g., 'TWOMNTHSDR', 'THREEMNTHSDR')
    return [f'ONEMNTH{prefix}'] + [f'{m}MNTH{prefix}' for m in month_keys[1:]]

all_time_dependent_cols = []

for feature in time_series_prefixes:
    cols = generate_columns(feature)
    
    # Filter only columns that are actually in the DataFrame
    available_cols = [col for col in cols if col in df.columns]
    
    # Save these for later drop
    all_time_dependent_cols.extend(available_cols)

    if available_cols:
        print(f"✅ Found {len(available_cols)} columns for {feature}")
    else:
        print(f"⚠️ No columns found for {feature}")

# Drop only those actually present in the DataFrame
df.drop(columns=all_time_dependent_cols, inplace=True, errors='ignore')
print(f"\n✅ Dropped {len(all_time_dependent_cols)} time series columns.")

✅ Found 12 columns for SDR
✅ Found 12 columns for OUTSTANGBAL
✅ Found 12 columns for AVGMTD
✅ Found 12 columns for AVGQTD
✅ Found 12 columns for AVGYTD

✅ Dropped 60 time series columns.

In [35]:
df.shape

(327741, 154)

In [36]:
columns_list=df.columns.tolist()
print(columns_list)

['ACCT_AGE', 'LIMIT', 'OUTS', 'ACCT_RESIDUAL_TENURE', 'LOAN_TENURE', 'INSTALAMT', 'AGE', 'VINTAGE', 'KYC_SCR', 'NO_LONS', 'ALL_LON_LIMIT', 'ALL_LON_OUTS', 'ALL_LON_MAX_IRAC', 'OLDEST_LON_TAKEN', 'LATEST_LON_TAKEN', 'LATEST_RESIDUAL_TENURE', 'OLDEST_RESIDUAL_TENURE', 'POP_CODE', 'NO_ENQ', 'FIRST_NPA_TENURE', 'CUST_NO_OF_TIMES_NPA', 'LATEST_NPA_TENURE', 'NO_YRS_NPA', 'LATEST_RG3_TENURE', 'NO_YRS_RG3', 'TOT_IRAC_CHNG', 'TIMES_IRAC_SLIP', 'TIMES_IRAC_UPR', 'LAST_1_YR_RG4', 'LAST_3_YR_RG4', 'LAST_1_YR_RG3', 'LAST_1_YR_RG2', 'LAST_1_YR_RG1', 'CRIFF_11', 'CRIFF_22', 'CRIFF_33', 'CRIFF_44', 'CRIFF_55', 'CRIFF_66', 'TOTAL_CRIFF1', 'DEC_CRIFFCHNG1', 'PRI_NO_OF_ACCTS1', 'PRI_ACTIVE_ACCTS1', 'PRI_OVERDUE_ACCTS1', 'PRI_CURRENT_BALANCE1', 'PRI_SANCTIONED_AMOUNT1', 'PRI_DISBURSED_AMOUNT1', 'PRIMARY_INSTAL_AMT1', 'NEW_ACCTS_IN_LAST_SIX_MONTHS1', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS1', 'AVERAGE_ACCT_AGE1', 'CREDIT_HISTORY_LENGTH1', 'NO_OF_INQUIRIES1', 'LATEST_CR_DAYS', 'LATEST_DR_DAYS', 'TARGET', 'SI_FLG_Y', 'LOCKER_HLDR_IND_Y', 'UID_FLG_Y', 'KYC_FLG_2', 'KYC_FLG_N', 'KYC_FLG_Y', 'INB_FLG_Y', 'EKYC_FLG_Y', 'INCOME_BAND1_B', 'INCOME_BAND1_C', 'INCOME_BAND1_D', 'INCOME_BAND1_E', 'INCOME_BAND1_EX01', 'INCOME_BAND1_EX02', 'INCOME_BAND1_EX04', 'INCOME_BAND1_EX05', 'INCOME_BAND1_F', 'INCOME_BAND1_G', 'INCOME_BAND1_H', 'AGREG_GROUP_#Housing Loan', 'AGREG_GROUP_#Total Auto Loan', 'AGREG_GROUP_#Total Xpress Credit', 'PRODUCT_TYPE_EDUCATION LOAN', 'PRODUCT_TYPE_HOME LOAN', 'PRODUCT_TYPE_PERSONAL LOAN', 'SCR_mean', 'SCR_std', 'SCR_min', 'SCR_max', 'SCR_median', 'SCR_cv', 'SCR_max_diff', 'SCR_mean_diff', 'SCR_last_diff', 'SCR_slope', 'SCR_recent_vs_historical', 'SDR_mean', 'SDR_std', 'SDR_min', 'SDR_max', 'SDR_median', 'SDR_cv', 'SDR_max_diff', 'SDR_mean_diff', 'SDR_last_diff', 'SDR_slope', 'SDR_recent_vs_historical', 'OUTSTANGBAL_mean', 'OUTSTANGBAL_std', 'OUTSTANGBAL_min', 'OUTSTANGBAL_max', 'OUTSTANGBAL_median', 'OUTSTANGBAL_cv', 'OUTSTANGBAL_max_diff', 'OUTSTANGBAL_mean_diff', 'OUTSTANGBAL_last_diff', 'OUTSTANGBAL_slope', 'OUTSTANGBAL_recent_vs_historical', 'AVGMTD_mean', 'AVGMTD_std', 'AVGMTD_min', 'AVGMTD_max', 'AVGMTD_median', 'AVGMTD_cv', 'AVGMTD_max_diff', 'AVGMTD_mean_diff', 'AVGMTD_last_diff', 'AVGMTD_slope', 'AVGMTD_recent_vs_historical', 'AVGQTD_mean', 'AVGQTD_std', 'AVGQTD_min', 'AVGQTD_max', 'AVGQTD_median', 'AVGQTD_cv', 'AVGQTD_max_diff', 'AVGQTD_mean_diff', 'AVGQTD_last_diff', 'AVGQTD_slope', 'AVGQTD_recent_vs_historical', 'AVGYTD_mean', 'AVGYTD_std', 'AVGYTD_min', 'AVGYTD_max', 'AVGYTD_median', 'AVGYTD_cv', 'AVGYTD_max_diff', 'AVGYTD_mean_diff', 'AVGYTD_last_diff', 'AVGYTD_slope', 'AVGYTD_recent_vs_historical', 'SCR_ratio_last_first', 'SCR_spike_flag', 'loan_utilization', 'irac_slip_rate', 'loan_span', 'is_recent_loan', 'frequent_irac_changes']

In [37]:
import re

# Your list of columns
cols = ['ACCT_AGE', 'LIMIT', 'OUTS', 'ACCT_RESIDUAL_TENURE', 'LOAN_TENURE', 'INSTALAMT', 'AGE', 'VINTAGE', 'KYC_SCR', 'TWOMNTHSDR', 'TWOMNTHOUTSTANGBAL', 'TWOMNTHAVGMTD', 'TWOMNTHAVGQTD', 'TWOMNTHAVGYTD', 'THREEMNTHSDR', 'THREEMNTHOUTSTANGBAL', 'THREEMNTHAVGMTD', 'THREEMNTHAVGQTD', 'THREEMNTHAVGYTD', 'FOURMNTHSDR', 'FOURMNTHOUTSTANGBAL', 'FOURMNTHAVGMTD', 'FOURMNTHAVGQTD', 'FOURMNTHAVGYTD', 'FIVEMNTHSDR', 'FIVEMNTHOUTSTANGBAL', 'FIVEMNTHAVGMTD', 'FIVEMNTHAVGQTD', 'FIVEMNTHAVGYTD', 'SIXMNTHSDR', 'SIXMNTHOUTSTANGBAL', 'SIXMNTHAVGMTD', 'SIXMNTHAVGQTD', 'SIXMNTHAVGYTD', 'SEVENMNTHSDR', 'SEVENMNTHOUTSTANGBAL', 'SEVENMNTHAVGMTD', 'SEVENMNTHAVGQTD', 'SEVENMNTHAVGYTD', 'EIGHTMNTHSDR', 'EIGHTMNTHOUTSTANGBAL', 'EIGHTMNTHAVGMTD', 'EIGHTMNTHAVGQTD', 'EIGHTMNTHAVGYTD', 'NINEMNTHSDR', 'NINEMNTHOUTSTANGBAL', 'NINEMNTHAVGMTD', 'NINEMNTHAVGQTD', 'NINEMNTHAVGYTD', 'TENMNTHSDR', 'TENMNTHOUTSTANGBAL', 'TENMNTHAVGMTD', 'TENMNTHAVGQTD', 'TENMNTHAVGYTD', 'ELEVENMNTHSDR', 'ELEVENMNTHOUTSTANGBAL', 'ELEVENMNTHAVGMTD', 'ELEVENMNTHAVGQTD', 'ELEVENMNTHAVGYTD', 'TWELVEMNTHSDR', 'TWELVEMNTHOUTSTANGBAL', 'TWELVEMNTHAVGMTD', 'TWELVEMNTHAVGQTD', 'TWELVEMNTHAVGYTD', 'NO_LONS', 'ALL_LON_LIMIT', 'ALL_LON_OUTS', 'ALL_LON_MAX_IRAC', 'OLDEST_LON_TAKEN', 'LATEST_LON_TAKEN', 'LATEST_RESIDUAL_TENURE', 'OLDEST_RESIDUAL_TENURE', 'POP_CODE', 'NO_ENQ', 'FIRST_NPA_TENURE', 'CUST_NO_OF_TIMES_NPA', 'LATEST_NPA_TENURE', 'NO_YRS_NPA', 'LATEST_RG3_TENURE', 'NO_YRS_RG3', 'TOT_IRAC_CHNG', 'TIMES_IRAC_SLIP', 'TIMES_IRAC_UPR', 'LAST_1_YR_RG4', 'LAST_3_YR_RG4', 'LAST_1_YR_RG3', 'LAST_1_YR_RG2', 'LAST_1_YR_RG1', 'CRIFF_11', 'CRIFF_22', 'CRIFF_33', 'CRIFF_44', 'CRIFF_55', 'CRIFF_66', 'TOTAL_CRIFF1', 'DEC_CRIFFCHNG1', 'PRI_NO_OF_ACCTS1', 'PRI_ACTIVE_ACCTS1', 'PRI_OVERDUE_ACCTS1', 'PRI_CURRENT_BALANCE1', 'PRI_SANCTIONED_AMOUNT1', 'PRI_DISBURSED_AMOUNT1', 'PRIMARY_INSTAL_AMT1', 'NEW_ACCTS_IN_LAST_SIX_MONTHS1', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS1', 'AVERAGE_ACCT_AGE1', 'CREDIT_HISTORY_LENGTH1', 'NO_OF_INQUIRIES1', 'LATEST_CR_DAYS', 'LATEST_DR_DAYS', 'TARGET', 'SI_FLG_Y', 'LOCKER_HLDR_IND_Y', 'UID_FLG_Y', 'KYC_FLG_2', 'KYC_FLG_N', 'KYC_FLG_Y', 'INB_FLG_Y', 'EKYC_FLG_Y', 'INCOME_BAND1_B', 'INCOME_BAND1_C', 'INCOME_BAND1_D', 'INCOME_BAND1_E', 'INCOME_BAND1_EX01', 'INCOME_BAND1_EX02', 'INCOME_BAND1_EX04', 'INCOME_BAND1_EX05', 'INCOME_BAND1_F', 'INCOME_BAND1_G', 'INCOME_BAND1_H', 'AGREG_GROUP_#Housing Loan', 'AGREG_GROUP_#Total Auto Loan', 'AGREG_GROUP_#Total Xpress Credit', 'PRODUCT_TYPE_EDUCATION LOAN', 'PRODUCT_TYPE_HOME LOAN', 'PRODUCT_TYPE_PERSONAL LOAN', 'SCR_ratio_last_first', 'SCR_spike_flag', 'SCR_mean', 'SCR_std', 'SCR_min', 'SCR_max', 'SCR_median', 'SCR_cv', 'SCR_max_diff', 'SCR_mean_diff', 'SCR_slope', 'loan_utilization', 'irac_slip_rate', 'loan_span', 'is_recent_loan', 'frequent_irac_changes', 'SDR_mean', 'SDR_std', 'SDR_min', 'SDR_max', 'SDR_median', 'SDR_cv', 'SDR_max_diff', 'SDR_mean_diff', 'SDR_slope', 'OUTSTANGBAL_mean', 'OUTSTANGBAL_std', 'OUTSTANGBAL_min', 'OUTSTANGBAL_max', 'OUTSTANGBAL_median', 'OUTSTANGBAL_cv', 'OUTSTANGBAL_max_diff', 'OUTSTANGBAL_mean_diff', 'OUTSTANGBAL_slope', 'AVGMTD_mean', 'AVGMTD_std', 'AVGMTD_min', 'AVGMTD_max', 'AVGMTD_median', 'AVGMTD_cv', 'AVGMTD_max_diff', 'AVGMTD_mean_diff', 'AVGMTD_slope', 'AVGQTD_mean', 'AVGQTD_std', 'AVGQTD_min', 'AVGQTD_max', 'AVGQTD_median', 'AVGQTD_cv', 'AVGQTD_max_diff', 'AVGQTD_mean_diff', 'AVGQTD_slope', 'AVGYTD_mean', 'AVGYTD_std', 'AVGYTD_min', 'AVGYTD_max', 'AVGYTD_median', 'AVGYTD_cv', 'AVGYTD_max_diff', 'AVGYTD_mean_diff', 'AVGYTD_slope']

# Pattern to match month series prefixes, e.g. ONEMONTH, TWOMNTH, THREEMNTH, ... TWELVEMNTH etc.
month_pattern = re.compile(r'(ONE|TWO|THREE|FOUR|FIVE|SIX|SEVEN|EIGHT|NINE|TEN|ELEVEN|TWELVE)MNTH', re.IGNORECASE)

# Filter out columns that match the pattern
filtered_cols = [col for col in cols if not month_pattern.search(col)]

print(filtered_cols)

['ACCT_AGE', 'LIMIT', 'OUTS', 'ACCT_RESIDUAL_TENURE', 'LOAN_TENURE', 'INSTALAMT', 'AGE', 'VINTAGE', 'KYC_SCR', 'NO_LONS', 'ALL_LON_LIMIT', 'ALL_LON_OUTS', 'ALL_LON_MAX_IRAC', 'OLDEST_LON_TAKEN', 'LATEST_LON_TAKEN', 'LATEST_RESIDUAL_TENURE', 'OLDEST_RESIDUAL_TENURE', 'POP_CODE', 'NO_ENQ', 'FIRST_NPA_TENURE', 'CUST_NO_OF_TIMES_NPA', 'LATEST_NPA_TENURE', 'NO_YRS_NPA', 'LATEST_RG3_TENURE', 'NO_YRS_RG3', 'TOT_IRAC_CHNG', 'TIMES_IRAC_SLIP', 'TIMES_IRAC_UPR', 'LAST_1_YR_RG4', 'LAST_3_YR_RG4', 'LAST_1_YR_RG3', 'LAST_1_YR_RG2', 'LAST_1_YR_RG1', 'CRIFF_11', 'CRIFF_22', 'CRIFF_33', 'CRIFF_44', 'CRIFF_55', 'CRIFF_66', 'TOTAL_CRIFF1', 'DEC_CRIFFCHNG1', 'PRI_NO_OF_ACCTS1', 'PRI_ACTIVE_ACCTS1', 'PRI_OVERDUE_ACCTS1', 'PRI_CURRENT_BALANCE1', 'PRI_SANCTIONED_AMOUNT1', 'PRI_DISBURSED_AMOUNT1', 'PRIMARY_INSTAL_AMT1', 'NEW_ACCTS_IN_LAST_SIX_MONTHS1', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS1', 'AVERAGE_ACCT_AGE1', 'CREDIT_HISTORY_LENGTH1', 'NO_OF_INQUIRIES1', 'LATEST_CR_DAYS', 'LATEST_DR_DAYS', 'TARGET', 'SI_FLG_Y', 'LOCKER_HLDR_IND_Y', 'UID_FLG_Y', 'KYC_FLG_2', 'KYC_FLG_N', 'KYC_FLG_Y', 'INB_FLG_Y', 'EKYC_FLG_Y', 'INCOME_BAND1_B', 'INCOME_BAND1_C', 'INCOME_BAND1_D', 'INCOME_BAND1_E', 'INCOME_BAND1_EX01', 'INCOME_BAND1_EX02', 'INCOME_BAND1_EX04', 'INCOME_BAND1_EX05', 'INCOME_BAND1_F', 'INCOME_BAND1_G', 'INCOME_BAND1_H', 'AGREG_GROUP_#Housing Loan', 'AGREG_GROUP_#Total Auto Loan', 'AGREG_GROUP_#Total Xpress Credit', 'PRODUCT_TYPE_EDUCATION LOAN', 'PRODUCT_TYPE_HOME LOAN', 'PRODUCT_TYPE_PERSONAL LOAN', 'SCR_ratio_last_first', 'SCR_spike_flag', 'SCR_mean', 'SCR_std', 'SCR_min', 'SCR_max', 'SCR_median', 'SCR_cv', 'SCR_max_diff', 'SCR_mean_diff', 'SCR_slope', 'loan_utilization', 'irac_slip_rate', 'loan_span', 'is_recent_loan', 'frequent_irac_changes', 'SDR_mean', 'SDR_std', 'SDR_min', 'SDR_max', 'SDR_median', 'SDR_cv', 'SDR_max_diff', 'SDR_mean_diff', 'SDR_slope', 'OUTSTANGBAL_mean', 'OUTSTANGBAL_std', 'OUTSTANGBAL_min', 'OUTSTANGBAL_max', 'OUTSTANGBAL_median', 'OUTSTANGBAL_cv', 'OUTSTANGBAL_max_diff', 'OUTSTANGBAL_mean_diff', 'OUTSTANGBAL_slope', 'AVGMTD_mean', 'AVGMTD_std', 'AVGMTD_min', 'AVGMTD_max', 'AVGMTD_median', 'AVGMTD_cv', 'AVGMTD_max_diff', 'AVGMTD_mean_diff', 'AVGMTD_slope', 'AVGQTD_mean', 'AVGQTD_std', 'AVGQTD_min', 'AVGQTD_max', 'AVGQTD_median', 'AVGQTD_cv', 'AVGQTD_max_diff', 'AVGQTD_mean_diff', 'AVGQTD_slope', 'AVGYTD_mean', 'AVGYTD_std', 'AVGYTD_min', 'AVGYTD_max', 'AVGYTD_median', 'AVGYTD_cv', 'AVGYTD_max_diff', 'AVGYTD_mean_diff', 'AVGYTD_slope']

In [42]:
csv_file_path = 'output.csv'
df.to_csv(csv_file_path, index=False)